@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    color: #3e3e3e;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

body {
    background: linear-gradient(162deg, #554388, #1C113C);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow-y: hidden;
}

nav {
    background-color: #fff;
    box-shadow: 2px 0 40px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 60px;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.nav_content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 950px;
}

.nav_content > ul {
    display: flex;
    flex-direction: row;
}

.nav_content > ul > li {
    list-style-type: none;
    margin-left: 20px;
}

.home__container::-webkit-scrollbar{
    display: none;
}

.home__container {
    height: 100vh;
    margin-inline: auto;
    width: 950px;
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y proximity;
    scroll-padding-top: 15vh;
    scroll-padding-bottom: 15vh;
    padding-top: 100px;
}

section {
    scroll-snap-align: start;
    transition: 500ms;
}

section:last-child {
    scroll-snap-align: end;
}

.card {
    align-items: center;
    background-color: #00000085;
    border-radius: 36px;
    display: flex;
    padding: 8px;
}

.card__user-summary {
    background-color: #fff;
    border-radius: 30px;
    padding: 28px;
}

.card__user-summary__header {
    align-items: center;
    display: flex;
}

.card__user-summary__header > img {
    border-radius: 30px;
    height: 60px;
    margin-right: 16px;
    width: 60px;
}

.card__user-summary__header__user-info > h1 {
    background: -webkit-linear-gradient(341deg, #9557ff, #7038d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card__user-summary__header__user-info > h3 {
    font-weight: 500;
}

.card__user-summary__mission-statement {
    line-height: 23px;
    margin-top: 16px;
}

.card__socials {
    display: grid;
    margin: 0 44px;
    margin-right: 40px;
    grid-template-columns: 60px 60px;
    grid-template-rows: 60px 60px;
    grid-template-areas: "a b" "c d";
    gap: 20px;
}

.card__socials__icon {
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.card__socials__icon > a > img, .card__socials__icon > button > img {
    height: 24px;
    width: 24px;
}

.card__socials__icon:hover {
    cursor: pointer;
}

.home__section-title {
    align-items: center;
    background-color: #00000085;
    border-radius: 16px;
    display: flex;
    margin: 0 20px;
    margin-top: 20px;
    padding: 10px 24px;
    padding-right: 30px;
    width: fit-content;
}

.home__section-title > h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.home__section-title > img {
    height: 12px;
    margin-right: 12px;
    width: 7px;
}

/* Technology Stack Section */
.home__container__technology-stack {
    margin: 0 20px;
    margin-top: 20px;
    margin-bottom: 24px;
}

.home__container__technology-stack__items {
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    margin-top: 20px;
    padding: 50px 40px;
}

.home__container__technology-stack__items__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

.home__container__technology-stack__items__item:nth-child(1)  {
    margin-left: 0;
}

.home__container__technology-stack__items__item > img {
    height: 28px;
    width: 28px;
    margin-bottom: 6px;
}

.home__container__porfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 20px;
    margin-top: 20px;
}

.card__content {
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    padding: 28px;
}

.card__content__right-side {
    max-width: 258px;
}

.card__content__right-side > h1 {
    background: -webkit-linear-gradient(341deg, #9557ff, #7038d2);
    font-size: 27px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__content__right-side > p {
    font-size: 14px;
    margin-top: 16px;
}

.card__content__right-side__tech_stack {
    margin-top: 16px;
}

.card__content__right-side > button {
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 4px;
    background: -webkit-linear-gradient(341deg, #9557ff, #7038d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__content__right-side__tech_stack > img {
    height: 24px;
    height: 24px;
    margin-right: 10px;
}

.card__content__left-side {
    margin-left: 20px;
}

.card__content__left-side > img {
    object-fit: cover;
    position: relative;
    top: 3px;
    width: 100px;
}

.home-content__email {
    background-color: #0000004b;
    border-radius: 60px;
    display: flex;
    margin: 70px 0;
}

.home-content__email__right-side {
    background-color: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 1;
}

.home-content__email__right-side > img {
    border-radius: inherit;
    filter: grayscale(.3);
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.home-content__email__left-side {
    display: flex;
    flex-direction: column;
}

.home-content__email__title {
    color: #fff;
    font-weight: 600;
    padding: 40px;
    text-align: center;
}

.home-content__email__left-side > form {
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    padding-top: 0;
    width: 500px;
}

.home-content__email__left-side > form > input {
    background-color: #f0f0f0;
    border-style: none;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    padding: 16px;
}

.home-content__email__left-side > form > input:nth-child(1) {
    margin-bottom: 20px;
}

.home-content__email__left-side > form > textarea {
    background-color: #f0f0f0;
    border-radius: 12px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    margin: 20px 0;
    margin-bottom: 0;
    padding: 16px;
}

.home-content__email__left-side > form > button {
    background: -webkit-linear-gradient(341deg, #9557ff, #7038d2);
    border-radius: 12px;
    border-top-style: solid;
    border-top-color: #d2d1d1;
    border-top-width: 1px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 18px;
    padding: 14px;
}

.fadeOut-active{
    opacity: 0;
}

@media (max-width: 600px) {
    nav {
        width: 100vw;
        align-items: center;
        display: flex;
    } 

    .nav_content {
        padding: 0;
        display: block;
        width: 100vw;
    }

    .nav_content > h3 {
        display: none;
    }

    .nav_content > ul {
        justify-content: center;
    }

    .nav_content > ul > li {
        margin: 0 10px;
    }

    .nav_content > ul > li > button {
        font-size: 16px;
    }

    .home__container {
        padding: 0 10px;
        padding-top: 90px;
        width: 100vw;
    }

    .card {
        flex-direction: column;
        padding-bottom: 9px;
    }

    .card__user-summary__mission-statement {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }

    .card__socials {
        display: flex;
        margin-top: 16px;
    }

    .card__socials__icon {
        padding: 10px;
        margin-bottom: 10px;
    }

    .card__socials__icon > a > img, .card__socials__icon > button > img {
        height: 24px;
        width: 28px;
    }

    .card__socials__icon:nth-child(3) > a > img {
        left: 3px;
        position: relative;
    }

    .home__container__technology-stack {
        margin-left: 0;
        margin-right: 0;
    }

    .home__container__technology-stack__items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 40px 20px;
    }

    .card__content {
        width: 100%;
    }

    .home__container__technology-stack__items__item {
        margin: 0;
        width: 110px;
    }

    .home__container__porfolio > .card {
        width: 100vw;
    }

    .home__container__porfolio {
        margin-left: 0;
        margin-right: 0;
    }

    .card__content__left-side {
        display: none;
    }

    .home__section-title {
        margin-left: 0;
    }

    .fadeOut-active {
        opacity: 1;
    }

    .home-content__email {
        padding-bottom: 26px;
        border-radius: 20px;
    }

    .home-content__email__title {
        padding: 0;
        padding-top: 30px;
    }

    .home-content__email__left-side > form {
        padding: 20px;
        width: 100%;
    }

    .home-content__email__left-side > form > input, .home-content__email__left-side > form > textarea {
        border-radius: 12px;
        padding: 10px;
    }

    .home-content__email__left-side > form > button {
        font-weight: 500;
    }
    
    .home-content__email__left-side {
        width: 100vw;
    }

    .home-content__email__right-side {
        display: none;
    }
}