@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: transparent;
}

button {
    border: none;
}

.container {
    position: relative;
    top: 60px;
}

.navbar {
    background: -webkit-linear-gradient(341deg, #7220ff, #5622af);
    display: flex;
    justify-content: center;
    left: 0px;
    padding: 16px 30px;
    position: fixed;
    right: 0px;
    z-index: 1000;
    top: 0;
}

.navbar__items {
    display: flex;
    list-style-type: none;
}

.navbar__items > li {
    color: #fff;
    font-size: 16px;
    margin: 0px 40px;
}

.home-content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-padding-top: 20px;
    overflow: visible;
}

.home-content__hero-section {
    align-items: center;
    border-radius: 20px;
    display: flex;
    margin: 0px 20px;
    margin-top: 10px;
    padding: 10px;
    scroll-snap-align: start;
}

.home-content__hero-section__profile-image {
    border-radius: 18px;
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.home-content__hero-section__user-info {
    color: #2a2a2a;
    margin-left: 10px;
}

.home-content__hero-section__user-info > :nth-child(1){
    font-weight: 600;
    font-size: 24px;
}

.home-content__hero-section__user-info > :nth-child(2) {
    font-weight: 500;
    font-size: 19px;
}

.home-content__hero-section__user-info > :nth-child(3){
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;
}

.home-content__cover-statement {
    align-items: center;
    background-color: #232323;
    border-radius: 20px;
    box-shadow: 0px 20px 46px rgba(0, 0, 0, 0.35);
    font-weight: 400;
    display: flex;
    letter-spacing: 0.15px;
    margin: 10px;
    padding: 40px;
    scroll-snap-align: start;
}

.home-content__hero-section__mission-statement {
    color: #fff;
}

.home-content__tech {
    margin: 0 26px;
    border-bottom-style: solid;
    border-bottom-color: #7220ff;
    border-bottom-width: 2px;
    padding-bottom: 16px;
    scroll-snap-align: start;
}

.home-content__tech__title {
    background: -webkit-linear-gradient(341deg, #9557ff, #6228c7);
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content__tech > p {
    align-items: center;
    display: flex;
    font-weight: 500;
    margin-bottom: 14px;
}

.home-content__tech > p > img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    overflow: visible;
    object-fit: cover;
}

.home-content__portfolio-title {
    background: -webkit-linear-gradient(341deg, #9557ff, #6228c7);
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 24px;
    margin-left: 30px;
    scroll-snap-align: start;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content__porfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas: "a b" "c d";
    gap: 16px;
    margin: 0px 20px;
}

.home-content__porfolio__item {
    box-shadow: 0px 20px 46px rgba(0, 0, 0, 0.15);
    height: 400px;
    border-radius: 20px;
}

.home-content__porfolio__item > img,  video {
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.home-content__porfolio__item .a {
    grid-area: a;
}

.home-content__porfolio__item .b {
    grid-area: b;
}

.home-content__porfolio__item .c {
    grid-area: c;
}

.home-content__porfolio__item .d {
    grid-area: d;
}

.home-content__email {
    background: -webkit-linear-gradient(341deg, #7220ff, #5622af);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 40px;
    padding-bottom: 30px;
    scroll-snap-align: end;
}

.home-content__email__title {
    color: #fff;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

.home-content__email > form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
}

.home-content__email > form > input {
    background-color: #fff;
    border-style: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    padding: 16px 16px;
}

.home-content__email > form > input:nth-child(1) {
    margin-bottom: 20px;
}

.home-content__email > form > textarea {
    background-color: #fff;
    border-radius: 4px;
    border: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    margin: 20px 0;
    margin-bottom: 0;
    padding: 16px;
}

.home-content__email > form > button {
    background-color: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    color: #7220ff;
    font-size: 15px;
    font-weight: 600;
    padding: 16px;
}

/* Element Effects */
/* .hide-element {
    transition: 500ms;
    position: relative;
}
.fadeOut_active {
    opacity: 0;
} */